@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-black text-white;
	}

	body {
		background-image: url('/background.jpg');
		background-size: cover;
		background-position: fixed;
	}

	h1 {
		@apply text-4xl;
	}
}